body {
	background-color: #ccffff;
	cursor: url('img/cursor3.png'), auto; 
}

.col-md {
	height:  300px;
	text-align:  center;
	margin: 10px 10px 0px;
}

.col-md-3 {
	height:  300px;
	text-align:  center;
}

.col-md-1 {
	height:  300px;
	text-align:  center;
	margin: 10px 10px 0px;	
}

.col-md-6 {
	height:  300px;
	text-align:  center;
}

.col-md-5 {
	height:  300px;
	text-align:  center;
	margin: 10px 10px 0px;	
}

#F {
	height:  600px;
}

#C {
	margin-top: -19%;
}

#cat {
	max-height: 110%;
	max-width: 110%;
	margin-top: 5%;
	animation: slideInDown; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; 
}

#contactonly {
	max-height: 100%;
	max-width: 100%;
	margin-top: 10%;
	margin-left: 2%;
	cursor: url('img/cursor4.png'), auto; 
	animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2s;
 }


#lamleonly {
    max-height: 100%;
	max-width: 100%;
	padding-bottom: 10%;
	margin-left: -10%;
	margin-top: 25%;
	cursor: url('img/cursor4.png'), auto;
 	animation: slideInRight; /* referring directly to the animation's @keyframe declaration */
  	animation-duration: 2s; 
}

#portfolioonly {
    max-height: 100%;
	max-width: 100%;
	margin-left: -35%;
	cursor: url('img/cursor4.png'), auto;
	animation: slideInUp; /* referring directly to the animation's @keyframe declaration */
   	animation-duration: 2s; 
}

#animation {
    max-height: 200%;
	max-width: 200%;
	margin-top: -450px;
	margin-left: -60%;
	cursor: url('img/cursor4.png'), auto; 
	animation: slideInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
}

@media screen and (max-width:780px){
	#F{
		margin-bottom: 120%;
	}

	#animation{
		margin-right: -60%;
	}

	#portfolioonly{ 
		margin-top: 1%;
		margin-left: 20%;	
	}
}

@media screen and (max-width:1080px){

	#animation{
		margin-top: -135%;
		margin-left: -75%;
	}

	#C{
		margin-left: -20%;
		margin-top: -40%;
	}
}


