@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url('img/pattern.png');
  background-color:  #ffffb5;
  color: #fff;
  cursor: url('img/cursor3.png'), auto;
}

h1, h2 {
  margin: 0;
  font-family: "Leckerli One", cursive;
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
}

.row {
  max-width: 80%;
  margin: 0 auto;
}

.intro-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: table;
  z-index: -1;
}

.intro-header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.intro-header .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('img/lafleur.png') center center no-repeat;
  background-size: cover;
}

.bg-image {
  width:  50%;
}

h2 {

  -webkit-animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
          animation: slide-in-blurred-bottom 2s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;

}

/* ----------------------------------------------
 * Generated by Animista on 2022-1-11 5:7:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-blurred-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
            transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
            transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.bg-image {
  animation: slideInUp; 
  animation-duration: 2s; 
}

.intro-header .header-content {
  position: relative;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  z-index: 2;
}

.content {
  height: 220vh;
  padding: 50px;
  background: #c099d5;
  margin-top: 100vh;
  cursor: url('img/cursor4.png'), auto;
}

#title {
  width: 30%;
  margin-left: 1%;
  animation: slideInUp; 
  animation-duration: 2s; 
}

#back {
  cursor: url('img/cursor4.png'), auto;
  max-width:  20%;
  margin-left: 80%;
  margin-top: -20%; 
  animation: fadeIn; 
  animation-duration: 2s; 
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.responsive2 {
  padding: 0 6px;
  margin:  auto;
  width: 48.99999%;
}

.responsive3 {
  padding: 0 6px;
  margin:  auto;
  width: 54.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#downpage {
  width:  100%;
  margin-top: -58%;
  z-index: 1000;
}

iframe {
  z-index: 1;
}